.quick-action-btn {
  display: grid;
  place-items: center;
  width: 4em;
  height: 4em;
  box-shadow: none !important;
  margin-bottom: .6em !important;
  background-color: var(--ion-color-primary-desaturated); //#1fa1a6
border: none;

}

.quick-action-icon {
  color: var(--ion-color-primary-tint); //TDO: multiple colors integration
  font-size: 1.2em;
}

.quick-action-title {
  font-size: .6em;
  text-align: center;
  display: block;
  line-height: 1.2em;
}

$breakpoint-v-sm: 320px;

@media (max-width: $breakpoint-v-sm) {
  .quick-action-btn {
    width: 3.5em;
    height: 3.5em;


  }
}