<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="Home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="People">
      <ion-icon name="people-outline"></ion-icon>
      <ion-label>People</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="Government">
      <ion-icon name="business-outline"></ion-icon>
      <ion-label>Government</ion-label>
    </ion-tab-button>


  <ion-tab-button tab="Promises">
    <ion-icon name="speedometer-outline"></ion-icon>
    <ion-label>Promises</ion-label>
  </ion-tab-button>


  <ion-tab-button tab="More">
    <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
    <ion-label>More</ion-label>
  </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
