ion-card-header {
  display: flex;
  justify-content: space-between;
  padding-left: 0;
  padding-top: 0;


  ion-card-title {
	font-size: .7em;
	font-weight: normal;
	text-align: left;
  }

  ion-icon {
	color: var(--ion-color-primary);
  }
}

.card-subtitle {
  font-size: .6em;
  width: fit-content;
  text-transform: none;
  color: var(--ion-color-primary);

  span{
	font-style: italic;
  }
}

.card-content {

  ion-card-title {
	font-size: 1.5em;
	font-weight: 500;
  }

}